<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipp.mapper.ProductMapper">

	<insert id="create">
		insert into tbl_product (pname, price, content,
		writer)
		values(#{pname}, #{price}, #{content}, #{writer} )
	</insert>

	<select id="read" resultType="com.ipp.domain.ProductVO">
		select
		pno, pname, price, content,
		writer, regdate, viewcnt
		from
		tbl_product
		where pno =
		#{pno}
	</select>

	<update id="update">
		update tbl_product set pname = #{pname},
		price
		=#{price},
		content=#{content}
		where pno = #{pno}
	</update>

	<delete id="delete">
		delete from tbl_product where pno = #{pno}
	</delete>

	<select id="listCriteria" resultType="com.ipp.domain.ProductVO">
	<![CDATA[
		select
			pno, pname, price, content, writer, regdate, viewcnt
		from
			tbl_product
		where pno > 0
		order by pno desc, regdate desc
		limit #{pageStart}, #{perPageNum}
	]]>
	</select>

	<select id="listCountCriteria" resultType="int">
	<![CDATA[
		select count(*)
			from 
				tbl_product where pno > 0
	]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				and pname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'nc'.toString()">
				and (pname like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword},'%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and (content like CONCAT('%', #{keyword}, '%') OR writer
				like CONCAT('%', #{keyword},'%'))
			</if>
			<if test="searchType == 'ncw'.toString()">
				and (pname like CONCAT('%', #{keyword},'%') OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword},'%'))
			</if>

		</if>

	</sql>

	<!-- <select id="listSearch" resultType="com.ipp.domain.ProductVO"> <![CDATA[ 
		select * from ( select rownum rnum, pno, pname, price, content, writer, regdate, 
		viewcnt from tbl_product where pno > 0 ]]> <include refid="search"></include> 
		<![CDATA[ order by pno desc, regdate desc )where (rnum >= #{pageStart} AND 
		rnum <= #{pageEnd}) order by pno desc, regdate desc ]]> </select> -->

	<select id="listSearch" resultType="com.ipp.domain.ProductVO">
	<![CDATA[
		select * 
		from 
		tbl_product
		where pno > 0
	]]>
		<include refid="search"></include>
		
	<![CDATA[
	order by pno desc
	limit #{pageStart}, #{perPageNum}
	]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
		select count(pno)
		from
				tbl_product where pno > 0 
			]]>
		<include refid="search"></include>

	</select>

	<update id="updateViewCount">
		update tbl_product set
			viewcnt = viewcnt + 1
		where pno = #{pno}
	</update>

</mapper>